.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.alignright,
.alignleft,
.aligncenter,
.bypostauthor {
	color: inherit;
}

.alignright {
    float: right;
    margin: 6px 0 14px 20px;
}
.alignleft {
    float: left;
    margin: 6px 20px 14px 0;
}

.alignright img,
.alignleft img,
.aligncenter img {
	width: 100%;
	max-width: 100%;
}
img.center {
	margin: 0 auto;
	display: block;
}
img.full {
	width: 100%;
}
.aligncenter {
	display: block;
    clear: both;
    margin: 0 auto;
}
.alignleft,
.aligncenter,
.alignright {
	@include max-break($break-large) {
		width: 100%;
		margin: 0 0 20px;
	}
}
.wp-caption {
	position: relative;
	max-width: 100%;
	.wp-caption-text {
		display: block;
		position: absolute;
		left: 20px;
		bottom: 20px;
		max-width: 80%;
		margin: 0;
		font-size: 13px;
		background: #fff;
		color: $color1;
		padding: 13px 15px;
		
		.rtl & {
			left: auto;
			right: 20px;
		}
	}
}

.gallery {
	display: block;
	margin: 0 auto;
	float: left;
	clear: both;
	&.gallery-columns-2 .gallery-item {
		width: 50%;
	}
	&.gallery-columns-3 .gallery-item {
		width: 33%;
	}
	&.gallery-columns-4 .gallery-item {
		width: 25%;
	}
	&.gallery-columns-5 .gallery-item {
		width: 20%;
	}
	.gallery-item {
		display: inline-block;
		width: 100%;
		padding: 0 1px 1px 0;
		margin: 0;
		@include single-transition(opacity, 0.2s, $transition);
		
		&:hover {
			@include opacity(0.8);
		}
		img {
			width: 100%;
			max-width: 100%;	
		}
		a {
			line-height: 0;
			display: block;
			width: 100%;
		}
		.gallery-icon {
			margin: 0;
		}
		.gallery-caption {
			display: none;
		}
	}
}
.more-link {
	display: inline-block;
	color: $color1;
	font-size: 13px;
}
[class^="tag-link"] {
	display: inline-block;
	border: 1px solid rgba($color1,0.1);
	color: rgba($color1, 0.6);
	font-size: 10px !important;
	padding: 8px 18px;
	text-transform: uppercase;
	margin: 0 3px 3px 0;
	line-height: 1;
	font-weight: 600;
	border-radius: 500px;
	&:hover {
		background: $color1;
		border-color: $color1;
		color: #fff;
	}
}
.searchform {
	margin: 0;
	fieldset {
		position: relative;
		border: 0;
		@extend .reset;

		input {
			margin-bottom: 0;
		}
	}
}